<h2>ingridients</h2>

<p>
  <a href="/ingredients/new">Create new</a>
</p>

<div class="item-grid">
  {{#each ingredients}}
    <article class="item">
      <div>
        <b>{{name}}</b>
        <i>{{decription}}</i>
      </div>

      <a href="/ingredients/{{_id}}">Show</a>
    </article>
  {{/each}}
</div>