<h2>
  New ingrident
</h2>

<form action="/ingredients/new" method="post">
  <input type="text" name="name" placeholder="Name" />
  <textarea name="description" placeholder="DEscribtion"></textarea>
  <input type="submit" value="Create" />
</form>